<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tillsammansodling</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/vis.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
       <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 400px;
            border: 1px solid lightgray;
        }
    	</style>
  </head>
  <body>
  <script src="{{ url_for('static',filename='js/visjs/vis.js') }}"></script>
  	<!-- Modal -->
  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

        		Stad: <p id="city"></p>
        		Plats: <p id="location"></p>
        		Växthusets namn: <p id="name"></p>
        	
        		<a class="btn btn-primary" id="greenhouseLink" href="">Besök </a>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
          
    </div>
  </div>


<div class="container">
	<div class="row">
		<div class="col-lg">
  	<h1>Växthus</h1>
<div id="mynetwork"></div>
    </div>
    
</div>
</div>

<script type="text/javascript">

    // create an array with nodes
    var nodes = new vis.DataSet();
    //var greenhouse = new vis.DataSet();

    // add items
    // note that the data items can contain different properties and data formats
    var data = new vis.DataSet(data);



    // create an array with edges
    var edges = new vis.DataSet();

{% for house in houses %}
{% if not house['city'] == house['city'] %}

nodes.add({
	id: '{{ loop.index }}', 
    label: '{{ house['city'] }}',
    shape: 'box'}
    );
/*
greenhouse.add({
  id: '{{ loop.index }}',
  label: '{{house['name']}}',
  shape: 'box'}
  );
*/

data.add([
  {id: '{{ loop.index }}', text: ['{{house.city}}','{{house.location}}', '{{house.name}}']} 
]);

{% endif %}
{% set node_loop = loop %}
console.log('{{loop}}')

/*
var edges = new vis.DataSet([
        {from: '{{ greenhouse.revindex }}', to: '{{ nodes.id }}'},  
    ]);
*/

{% endfor %}
    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
       nodes: nodes,
       edges: edges,
       //greenhouse: greenhouse,
       data: data  
    };
    
    var options = {};
    // initialize your network!
    var network = new vis.Network(container, data, options);
    network.fit();
    network.on( 'click', function(properties) {
    var ids = properties.nodes;
    
    var city = data.data._data[ids].text[0];
    var location = data.data._data[ids].text[1];
    var name = data.data._data[ids].text[2];
 
    var clickedNodes = nodes.get(ids);
    if (ids != undefined){
    	$("#myModal").modal();
    	var strLink = "https://tillsammansodling.nu/" + city + "/" + location + "/" + name;
    	var adr = strLink.toLowerCase();

    	document.getElementById("greenhouseLink").setAttribute("href",adr);
    	document.getElementById("city").textContent = city;
    	document.getElementById("location").textContent = location;
    	document.getElementById("name").textContent = name;  
};

});

</script>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
  </body>
</html>
