<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    <style type="text/css">

    iframe {
        margin-right: 50%;

        border: 2px solid #fc4a1a;
    }

    #layer {
    background-color:white;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}


     #mynetwork {
     width: 900px;
     height: 700px;
     border: 5px solid #fc4a1a;
     margin-left: 7%;
     background-color: white;

     }

     h1 {
     color: black;
     text-align: center;
     }


</style>
{% endblock %}
</head>
<body>

</body>
</html>